.complete-page-container {
  padding: 20px;
  font-family: 'Nanum Gothic', sans-serif;
  background-color: #fff;
  min-height: 100vh;
}

.customization-complete-page-wapper{
  margin: 20px;
}

.complete-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cancel-btn {
  background: none;
  border: none;
  color: #666;
  font-size: 16px;
}

.page-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.spacer {
  width: 40px;
}

.completion-message {
  margin: 0px;
  margin-bottom: 30px;
  color: var(--Black, #1A1A1A);
  text-align: center;
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.72px;
}

.action-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin: 16px 0;
}

.share-icon-btn {
  border: none;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: rgba(155, 162, 177, 0.10);
  cursor: pointer;
}

.download-icon-btn {
  border: none;
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: rgba(155, 162, 177, 0.10);
  cursor: pointer;
}

.card-preview-complete {
  height: 100%;
}

.card-preview-complete-card {
  border-radius: 16px;
  position: relative;
  height: 350px;
  margin: 14px;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
}

.card-overlay-text {
  position: absolute;
  color: white;
  padding: 16px;
  color: #FFF;
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  text-align: left;
}

.card-summary-text {
  margin-top: 20px;
  padding: 16px;
  text-align: left;
  display: block;
}

.card-summary-text strong {
  align-self: stretch;
  color: #1A1A1A;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-align: left;
}

.summary-body {
  flex: 1 0 0;
  align-self: stretch;
  color: rgba(26, 26, 26, 0.60);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-align: left;
}