/* src/pages/makeCardPage/CardCustomizationPage.css */

.card-customization-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 30px);
}

.customization-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.customization-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 16px;

    margin-inline: 10px;
    margin-bottom: 30px;
}

.customization-cancel-btn {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.50);

    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.save-btn {
    background: none;
    border: none;

    color: var(--blue-point, #391BE2);
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.custom-card-preview {
    width: auto;
    height: 450px;

    position: relative;
    background-size: cover;
    background-position: center;

    margin-bottom: 30px;
}

.overlay-text {
    position: absolute;
    bottom: 100px;
    left: 16px;
    right: 16px;
    color: #FFF;

    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 22.4px */
}

.option-panel {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0 16px;
    margin-bottom: 24px;
}

.option-icons {
    display: inline-flex;
    gap: 12px;
}

.option {
    position: relative; /* 체크 아이콘 위치 조정 위해 필요 */
    display: flex;
    width: 40px;
    height: 40px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Grey_2, #E7E9EF);
  }
  
  .option .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none; /* 클릭 이벤트 방해하지 않도록 */
  }

.option-label {
    margin-top: 4px;
    color: var(--Grey_1, #9BA2B1);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tab-selected {
    border: none;
    background: none;

    color: var(--green-point, #0CE19A);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 60px;
}

.tab {
    border: none;
    background: none;

    color: var(--Grey_1, #9BA2B1);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 60px;
}

.tab-icon-svg path {
    transition: fill 0.3s;
    fill: #9BA2B1;
  }
  
  .tab-icon-svg.active path {
    fill: #0CE19A;
  }