.card-customization-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 30px);
}

.customization-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.customization-header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    font-size: 16px;
    margin-inline: 10px;
    margin-bottom: 30px;
}

.customization-cancel-btn {
    background: none;
    border: none;
    color: rgba(0, 0, 0, 0.50);
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}

.save-btn {
    background: none;
    border: none;
    color: var(--blue-point, #391BE2);
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}

.custom-card-preview {
    width: auto;
    height: 450px;
    position: relative;
    background-size: cover;
    background-position: center;
    margin-bottom: 30px;
}

.overlay-text {
    position: absolute;
    bottom: 100px;
    left: 16px;
    right: 16px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.option-panel {
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    margin-bottom: 24px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    scroll-padding: 0 16px;
}

.option-icons {
    display: inline-flex;
    gap: 12px;
    align-items: center;
    height: 100%;
    padding: 0 16px 0 100px;
}

.option {
    position: relative;
    display: flex;
    width: 40px;
    height: 40px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--Grey_2, #E7E9EF);
    cursor: pointer;
    flex-shrink: 0;
}

.option .check-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.option-label {
    margin-top: 4px;
    color: var(--Grey_1, #9BA2B1);
    text-align: center;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.tab-selected {
    border: none;
    background: none;
    color: var(--green-point, #0CE19A);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab {
    border: none;
    background: none;
    color: var(--Grey_1, #9BA2B1);
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.tab-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.tab-icon{
    width: 32px;
    height: 32px;
}

.tab-icon-svg path {
    fill: #9BA2B1;
}

.tab-icon-svg.active path {
    fill: #0CE19A;
}

.book-selection-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
    color: var(--Black, #1A1A1A);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.search-book-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    background-color: var(--blue-point, #0CE19A);
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
}