.make-card-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #ffffff;
  height: 100vh;
  box-sizing: border-box;
}

.image-preview-card {
  width: 90%;
  max-width: 400px;
  height: 470px;
  background: var(--Grey_2, #E7E9EF);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.image-dots-container {
  margin: 10px;
  display: flex;
  gap: 8px;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 2px;
  background: var(--Grey_2, #E7E9EF);
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  width: 8px;
  height: 11px;
  border-radius: 2px;
  background: var(--green-point, #0CE19A);
}

.button-container {
  justify-content: center;
  display: flex;
  gap: 10px;
  width: 90%;
  max-width: 400px;
  margin-top: 30px;
}

.gallery-button,
.camera-button {
  display: flex;
  width: 170px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  border: none;
  color: var(--100, #FFF);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.8px;
  cursor: pointer;
}

.gallery-button {
  background: var(--Grey_2, #E7E9EF);
  color: #9BA2B1;
}

.camera-button {
  background: var(--green-point, #0CE19A);
}

.gallery-button:hover,
.camera-button:hover {
  opacity: 0.9;
}

.button-icon {
  color: #ffffff;
}

.camera-feed {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
  background-color: black;
}

.take-photo-button {
  background-color: #0CE19A;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.use-photo-button {
  background-color: #0CE19A;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}