.text-extraction-result-wrapper {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  padding: 20px;
}

.result-header {
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  margin-bottom: 30px;
  background-color: #FFFFFF;
}

.result-header h2 {
  align-self: stretch;
  margin: 0px;
  color: var(--Black, #1A1A1A);
  font-family: Pretendard;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}

.result-header p {
  align-self: stretch;
  margin: 0px;
  color: rgba(26, 26, 26, 0.80);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.extracted-image {
  width: 100%;
  margin: 20px 0;
  border-radius: 8px;
}

.extracted-textarea {
  width: 100%;
  padding: 16px 18px;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
  resize: vertical;
  white-space: pre-wrap;
  font-family: Pretendard;
  box-sizing: border-box;
  min-height: 180px;
  display: flex;
  height: 400px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  background: rgba(231, 233, 239, 0.50);
  border: none;
}

.button-group {
  margin-top: auto;
  display: flex;
  gap: 12px;
  justify-content: center;
  padding-top: 20px;
}

.reshoot-button {
  display: flex;
  width: 116px;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--Grey_2, #E7E9EF);
  border: none;
  color: var(--Grey_1, #9BA2B1);
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  cursor: pointer;
}

.next-button {
  display: flex;
  height: 50px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 6px;
  background: var(--green-point, #0CE19A);
  border: none;
  color: #FFF;
  text-align: center;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  cursor: pointer;
}