/* src/pages/BookDetailPage.css */
.book-detail-page-container {
    width: 100%;
    margin: 0 auto;
    background-color: #f8f8f8;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
    /* 자식 요소의 absolute 위치를 위해 */
}

.book-detail-page-container.loading-state,
.book-detail-page-container.error-state,
.book-detail-page-container.no-data-state {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 16px;
    color: #666;
}

.book-info-section {
    background-color: #fff;
    text-align: center;
    /* 전체 섹션 중앙 정렬 */
}

.book-detail-title {
    text-align: start;
    color: var(--Black, #1A1A1A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-inline: 20px;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 0;
}

.book-detail-author-translator {
    text-align: start;
    color: rgba(26, 26, 26, 0.80);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-inline: 20px;
    margin-top: 0;
    margin-bottom: 16px;
    /* 16으로 되어 있어 px 추가 */
}

.book-info-detail-container {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 20px;
    /* 하단 여백 */
}

.book-title-display {
    color: var(--Black, #1A1A1A);
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0px;

    text-align: start;
}

.book-author-display {
    color: rgba(26, 26, 26, 0.80);
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;

    text-align: start;
}

.add-book-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.add-book-button {
    display: flex;
    width: 350px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

    border: none;
    border-radius: 6px;
    background: var(--green-point, #0CE19A);

    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.72px;
}

.add-book-button:hover {
    background: #09C189;
    box-shadow: 0 4px 10px rgba(0, 225, 154, 0.3);
}